div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Sponsors and Donations
    div.panel-body
      p Thanks to our wonderful sponsors, we have been able to afford a robot year after year. Without these sponsors, our team would not exist.
      div.row#sponsors
        each sponsor in sponsors
          div.col-xs-12.col-sm-6.col-md-6
            div.panel.panel-default
              div.panel-body
                a(href=sponsor.website)
                  img.img-responsive(src=`//cdn.${nconf.get('DOMAIN')}/media/sponsors/${sponsor.image.filename}` alt=sponsor.image.alt title=sponsor.image.alt)
                  span.sr-only= sponsor.image.alt
                  
      p If you would like to donate, feel free to do so online! You can do so via the following steps:
      ol
        li Go to this link: #[a(href='https://touchbaselite.bsd405.org/') https://touchbaselite.bsd405.org/]
        li For school, select "Sammamish High School"
        li For 'I want to donate to', select "Robotics-Gifts & Donations"
        li Enter the amount you wish to donate, then checkout
        li Accept the sincere thanks from Team 2412!
      p All donations are tax deductible.
      
append scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js' integrity='sha256-+oeQRyZyY2StGafEsvKyDuEGNzJWAbWqiO2L/ctxF6c=' crossorigin='anonymous')
  script(src=`//cdn.${nconf.get('DOMAIN')}/js/about.js`)