mixin button(link, text, icon, target)
  a.btn.btn-primary(href=link, target=target)
    i(class=`fa fa-${icon}`) &nbsp;
    span= text

mixin contactButton(contactInfo)
  if (contactInfo.type === 'email')
    +button(`//www.${nconf.get('DOMAIN')}/api/email?alias=${contactInfo.alias}&domain=${contactInfo.domain}`, 'Email', 'envelope', '_blank')
  else if (contactInfo.type === 'github')
    +button(`https://github.com/${contactInfo.username}`, 'GitHub', 'github', '_blank')
  else if (contactInfo.type === 'website')
    +button(contactInfo.url, 'Website', 'external-link', '_blank')
