extends layout.pug

block main
  h1 Contact us
  h3 Team emails
  div.row
    each teamEmail in members.teamEmails
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= teamEmail.name
          div.panel-body
            a.btn.btn-primary(href=`//www.${nconf.get('DOMAIN')}/api/email?alias=${teamEmail.alias}&domain=${teamEmail.domain}`) Email
  h3 Robotics Leadership
  div.row
    each member in members.teamMembers
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= `${member.name} (${member.role})`
          div.panel-body
            a.btn.btn-primary(href=`//www.${nconf.get('DOMAIN')}/api/email?alias=${member.alias}&domain=${member.domain}`) Email
  h3 Website developers
  div.row
    each developer in members.developers
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= `${developer.name}`
          div.panel-body
            span GitHub:&nbsp;
            a(href=`https://github.com/${developer.github}` target='_blank')= `@${developer.github}`
