extends layout.pug

append css
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.9/flickity.min.css' integrity='sha256-y1P8WxaELbBdWi1eAH2q5+KCzvsvsQnorvnhs9PTryw=' crossorigin='anonymous')
  link(rel='stylesheet' href=`//cdn.${nconf.get('DOMAIN')}/css/index.css`)

append main
  // Image carousel
  div.row
    div.col-sm-12
      div.main-carousel
        each image in slideshow
          div.carousel-cell
            img.slideshow(src=`//cdn.${nconf.get('DOMAIN')}/media/slideshow/${image.filename}` alt=(image.title || image.filename) title=image.title)

  // News
  div.row
    // Load news blurbs
    include ../partials/news.pug

append scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.9/flickity.pkgd.min.js' integrity='sha256-elkrhekQZJea19VD3RcIIMKwl+j/Z15ZChaRftHMAgw=' crossorigin='anonymous')
  script(src=`//cdn.${nconf.get('DOMAIN')}/js/index.js`)
