extends layout.pug

append main
  h1 Outreach
  div.panel.panel-default
    div.panel-heading
      h3 About Outreach
    div.panel-body
      p One of our goals as a team is to connect with our community through STEM. We do this by participating in various outreach events, where we demonstrate one of our robots and talk about what we do as a part of FIRST. Many of our team members enjoy volunteering at these events, and we love showing our community the results of our hard work!
      p If you wish to contact us, please email us at #[a(href='mailto:outreach@robototes.com') outreach@robototes.com]

  div.panel.panel-default
    div.panel-heading
      h3 An image?
    div.panel-body
      p this will be an image
  div.container
    h3 Come See Us At These Events:
    div
      each event in outreach.currentEvents
        div.col-md-4
          div.panel.panel-default
            div.panel-heading
              h4=`${event.name}`
            div.panel-body
              p=`${event.date} at ${event.location.place}, ${event.location.address}.` 
              p=`${event.desc}`
              if event.link+""!="undefined"
                a(href=`${event.link}`)=`${event.link}`
  div.panel.panel-default
    div.panel-heading
      h3 Another image?
    div.panel-body
      p this will be an image

  div.container
    h3 Past Events:
    div
      each event in outreach.pastEvents
        div.col-md-3
          div.panel.panel-default
            div.panel-heading
              h4=`${event.name}`
            div.panel-body
              p=`${event.desc}`
